@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}

button:hover {
    cursor: pointer;
}

/*menu*/
#menu {
    width: 70px;
    height: 500px;
    position: fixed;
    z-index: 999;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

#menu>li {
    width: 70px;
    height: 60px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin: 5px 0;
    color: #fff;
    background-color: #a22bbb;
    text-align: center;
    font-size: 11px;
    padding: 10px 0;
}

#menu>li>a {
    color: #fff;
}

#menu>li>a>i {
    font-size: 25px;
    margin: 0 0 5px 0;
    display: flex;
    flex-direction: column;
}

/* section 01 */
#fullpage .section-01 {
    width: 100%;
    margin: 0 auto;
}

canvas {
    display: block;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1534870439272-475575042b61?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #3a0583;
    background-size: cover;
}

.text {
    position: absolute;
    top: 45%;
    right: 50%;
    transform: translate(50%, -50%);
    color: rgba(255, 255, 255, 0.95);
    max-width: 100%;
    padding: 2em 3em;
    text-shadow: 0px 0px 2px #131415;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 160px;
    font-weight: 700;
    letter-spacing: -1px;
}

.h1-2 {
    font-size: 160px;
    font-weight: 700;
    letter-spacing: -1px;
    padding-left: 70px;
}

p {
    padding-left: 40px;
    font-size: 17px;
    letter-spacing: -1px;
}

a,
a:visited {
    text-decoration: none;
    color: #000;
    transition: 0.25s;
}

a:hover,
a:focus {
    color: #3b3b3b;
}

/* section common */
.section-wrap {
    width: 1663px;
    height: 100%;
    margin: 0 auto;
    padding: 0 130px;
    display: flex;
    position: relative;
}

.section-info {
    width: 38%;
    height: 100%;
    padding: 150px 0;
    color: #333;
}

.section-web {
    width: 62%;
    height: 100%;
    margin-left: 5%;
    position: relative;
    overflow: hidden;
}

.pro-tit {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    padding: 10px;
    width: 28%;
}

.pofol-tit {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
}

.pofol-sub-tit {
    font-size: 32px;
    font-weight: 600;
    padding-left: 10px;
}

.technique {
    font-size: 22px;
    padding: 0;
}

.color-wrap {
    margin-top: 50px;
}

.color-list {
    margin-top: 10px;
}

.color-list>li {
    width: 25px;
    height: 25px;
    border-radius: 20px;
    float: left;
    margin-right: 10px;
    border: 1px solid #dedede;
}

.info {
    float: left;
    margin: 30px 0 80px 0;
}

.info-p {
    padding: 0;
    font-size: 15px;
    line-height: 22px;
}

.btn {
    font-size: 14px;
    font-weight: 600;
    width: 150px;
    height: 38px;
    border: none;
    margin-right: 10px;
}

/* section 02 */
#fullpage .section-02 {
    width: 100%;
    margin: 0 auto;
    background-color: rgba(241, 255, 234, 0.897)
    
}

#pro-tit1 {
    color: #fff;
    background-color: #005542;
}

#pofol-tit1 {
    color: #005542;
}

#c-005542 {
    background-color: #005542;
}

#c-ff761f {
    background-color: #ff761f;
}

#c-ce996a {
    background-color: #ce996a;
}

#btn1 {
    color: #fff;
    background-color: #ce996a;
}

#btn1:hover {
    color: #ce996a;
    background-color: #fff;
}

/* section 03 */
#fullpage .section-03 {
    width: 100%;
    margin: 0 auto;
    background-color: #eef9ff;
}

#pro-tit2 {
    color: #fff;
    background-color: #33afe9;
}

#pofol-tit2 {
    color: #33afe9;
}

#c-33afe9 {
    background-color: #33afe9;
}

#c-ee3c97 {
    background-color: #ee3c97;
}

#c-ffffff {
    background-color: #ffffff;
}

#btn2 {
    color: #fff;
    background-color: #ee3c97;
}

#btn2-1 {
    color: #fff;
    background-color: #ee3c97;
}

#btn2:hover {
    color: #ee3c97;
    background-color: #fff;
}

#btn2-1:hover {
    color: #ee3c97;
    background-color: #fff;
}
/* section 04 */
#fullpage .section-04 {
    width: 100%;
    margin: 0 auto;
    background-color: #eee;
}

#pro-tit3 {
    color: #fff;
    background-color: #222;
}

#pofol-tit3 {
    color: #222;
}

#c-222222 {
    background-color: #222;
}

#c-8e5937 {
    background-color: #8e5937;
}

#c-ffffff {
    background-color: #ffffff;
}

#btn3 {
    color: #fff;
    background-color: #8e5937;
}

#btn3-1 {
    color: #fff;
    background-color: #8e5937;
}

#btn3:hover {
    color: #8e5937;
    background-color: #fff;
}

#btn3-1:hover {
    color: #8e5937;
    background-color: #fff;
}
/* section 05 */
#fullpage .section-05 {
    width: 100%;
    margin: 0 auto;
    background-color: #fff1f3;
}

#pro-tit4 {
    color: #fff;
    background-color: #df0011;
}

#pofol-tit4 {
    color: #df0011;
}

#c-df0011 {
    background-color: #df0011;
}

#c-ffffff {
    background-color: #ffffff;
}

#btn4 {
    color: #fff;
    background-color: #df0011;
}

#btn4-1 {
    color: #fff;
    background-color: #df0011;
}

#btn4:hover {
    color: #df0011;
    background-color: #fff;
}

#btn4-1:hover {
    color: #df0011;
    background-color: #fff;
}
/* section 06 */
#fullpage .section-06 {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
}

#pro-tit5 {
    color: #fff;
    background-color: #333;
}

#pofol-tit5 {
    color: #333;
}

#btn5 {
    color: #fff;
    background-color: #333;
}

#btn5-1 {
    color: #fff;
    background-color: #333;
}

#btn5:hover {
    color: #333;
    background-color: #fff;
}

#btn5-1:hover {
    color: #333;
    background-color: #fff;
}
/* section 07 */
#fullpage .section-07 {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-image: url(/img/bg2.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}


